/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}
nav li a {
  color: black;
  text-decoration: none;
}

li:hover,
a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  position: relative;
}

#portfolio h2 {
  text-align: center;
  margin-top: 140px;
}

.filters-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 50px auto;
}

.filter-btn {
  font: inherit;
  font-size: 1rem;
  color: #1d6154;
  font-weight: 700;
  border: 1px solid #1d6154;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  font-family: "Syne";
}
.filter-btn:nth-child(1) {
  padding: 0.75rem 1.5rem;
  color: #e5e5e5;
  background-color: #1d6154;
}

.filter-btn:nth-child(2) {
  padding: 0.75rem 1.25rem;
}

.filter-btn:nth-child(3) {
  padding: 0.75rem 0.75rem;
}

.filter-btn:nth-child(4) {
  padding: 0.75rem 0.5rem;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* login page */

#login-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#login-body header {
  width: 100%;
  position: absolute;
  top: 0px;
}

#login {
  width: 100%;
}

#login h2 {
  margin-bottom: 20px;
  font-family: "Syne";
}
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#email,
#password {
  width: 380px;
}

#submit-btn {
  width: 180px;
  font-family: "Syne";
  cursor: pointer;
}

#login label {
  margin: 2em 0 1em 0;
}

#forgot {
  text-align: center;
  color: #3d3d3d;
  font-weight: 600;
}

.error-message {
  color: red;
}

/* admin mode */

.gallery-margin {
  margin-top: 90px;
}

.admin-header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: black;
  display: none;
  justify-content: center;
  align-items: center;
}

.admin-header i {
  margin-right: 12px;
}

.admin-header p {
  margin-right: 20px;
}

.admin-header .publish-btn {
  font-weight: 700;
  font-family: "Work Sans";
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.admin-header .publish-btn:hover {
  opacity: 0.8;
}

.modifier {
  display: flex;
  gap: 11px;
}

.modifier p {
  cursor: pointer;
}

.modifier p:hover {
  cursor: pointer;
  opacity: 0.6;
}

.photo-modifier {
  margin: 15px auto 0;
  width: 80%;
}

.projects-modifier {
  position: relative;
  left: 64%;
  top: -18px;
}

/* modale style */

.modale-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 10;
  justify-content: center;
  justify-items: center;
}

#modale {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  padding: 32px;
}

.modale-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modale-title {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 26px;
}

.arrow-left {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.close-modale-btn {
  position: relative;
  top: 0;
  left: 95%;
  cursor: pointer;
}

.modale-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 0 73px;
  width: 414px;
}

.modale-gallery-item {
  position: relative;
}

.modale-img-container {
  width: 78px;
  height: 104px;
  overflow: hidden;
}

.modale-img-container img {
  width: 100%;
}

.trash-container {
  width: 17px;
  height: 17px;
  background-color: #000;
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.edit {
  border: none;
  background-color: #fff;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  margin-top: 3px;
  cursor: pointer;
}

#modale hr {
  width: 74%;
  color: #b3b3b3;
  margin-top: 45px;
}

.add-photo {
  background-color: #1d6154;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-family: "Syne";
  margin-top: 38px;
  cursor: pointer;
}

.add-photo:hover {
  opacity: 0.8;
}

.gallery-del {
  background-color: #fff;
  color: #d65353;
  border: none;
  padding: 0.5rem 1rem;
  font-family: "Work Sans";
  margin-top: 23px;
  cursor: pointer;
}

/* toggled classes */

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

/* end toggled classes */
